[Unit]
Description=UNCC Parking 24h Prediction Runner

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/uncc-parking-api
EnvironmentFile=/home/ubuntu/uncc-parking-api/.env
ExecStart=/home/ubuntu/uncc-parking-api/venv/bin/python -m parking_api.predict --model 24h
